* {
    margin: 0;
    padding: 0;
}

/* header */

.header a {
    font-size: 25px;
}

.header {
    height: 80px;
}

.logo img {
    width: 60px;
    height: 60px;
    margin-left: 20px;
    padding-top: 5px;
}

.hamburguer {
    width: 30px;
    height: 1.5px;
    top: 15px;


}



.corpo-inicio {
    padding-bottom: 20px;
    padding-top: 150px;
    padding-left: 0px;
    padding-right: 0px;
}

.container-left {
    margin-left: 10px;
    font-size: 15px;
    margin-right: 0px;
    padding: 0;
    padding-right: 0;

}

.container-left h1>br {
    display: none;

}

.botao-left {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 50px;
    font-size: 10px;
}

.container-right {
    padding-left: 0;

    margin-right: 0px;
}

.container-right img {
    width: 135px;
    height: 135px;
    padding-left: 0;
    margin-left: 0;
    padding-right: 0px;
}

/* CORPO UM */
.corpo-um {
  white-space:  nowrap;
}

.corpo-um h1 {
    font-size: 20px;
    padding-top: 100px;
    margin: 30px;
    padding: px;
    
}

.corpo-um-botao {
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 100px;
}

/* CORPO DOIS */

.corpo-dois {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding: 0px;
    margin: 0;
    padding-bottom: 50px;
    
}

.corpo-dois-texto-left {
    margin: 5px;
}

.corpo-dois-img-right {
    margin: 5px;

}

.corpo-dois-texto-left h1 {
    font-size: 20px;
    padding-top: 30px;
    margin: 5px;
    white-space:  nowrap;
}

.corpo-dois-texto-left p {
    margin-top: 10px;
    font-size: 15px;
    margin: 5px;
    padding: 0;
}

.corpo-dois-texto-left p>br {
    display: none;
}




.corpo-dois-img-right img {
    width: 160px;
    height: 140px;
    margin: 0px;
    padding: 0;
    margin-top: 30px;

}

/* CORPO 3 */
.corpo-tres {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding: 0px;
    margin: 0;
    padding-bottom: 100px;
}

.corpo-tres-img-left img {
    width: 180px;
    height: 160px;
    margin: 5px;
    padding: 0;
    margin-top: 60px;
}

.corpo-tres-texto-right h1 {
    font-size: 20px;
    padding-top: 30px;
    margin: 5px;
    
    
}

.corpo-tres-texto-right p {
    margin-top: 10px;
    font-size: 15px;
    margin: 5px;
    padding: 0;

}

.corpo-tres-texto-right p>br {
    display: none;

}


/* copro 4 */

.corpo-quatro {
    padding-top: 50px;
    padding-left: 0px;
    padding-right: 0px;
    padding: 0px;
    margin: 0px;
    padding-bottom: 100px;
    padding-top: 50px;
}


.corpo-quatro-img-right img {
    width: 180px;
    height: 180px;
    margin: 5px;
    padding: 0;
    margin-top: 60px;
}



.corpo-quatro-texto-left h1 {
    font-size: 25px;
    padding-top: 30px;
    margin: 5px;
    padding: 5px;
}

.corpo-quatro-texto-left h2 {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Arial Narrow', sans-serif;
   
    margin: 5px;
}

.corpo-quatro-texto-left p h1 {
    margin: 25px;
    
}



.corpo-quatro-texto-left p {
    margin-top: 10px;
    font-size: 15px;
    padding: 10px;
   margin-bottom: 50px;


}

.corpo-quatro-texto-left p>br {
    display: none;

}


.corpo-quatro-botao {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
    margin-top: 40px;
    margin-bottom: 90px;
    font-size: 10px;
    margin: 5px;
}

/* rodape */
.rodape {
    padding: 10px;
}

.footer-img-left,
.footer-texto-right {
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer-texto-right {
    margin: 10px;

}

.footer-texto-right h1 {

    font-size: 20px;
    margin-bottom: 10px;
}

.footer-texto-right p {
    font-size: 11px;

}

.footer-img-left img {
    width: 150px;
    height: 150px;
    margin: 10px;
    margin-bottom: 10px;

}

.footer-redes-sociais img {
    width: 20px;
    height: 20px;
    margin: 10px;
    margin-left: 0px;

}

.footer-redes-sociais {
    margin-right: 30px;
}

footer {
    font-size: 10px;
    padding: 10px;
}